:root {
  --default-font-size: 16px;
  --default-border: 1px solid #e6e6e6;
  --default-border-radius: 20px;
  --default-elements-border-radius: 8px;
  --default-margin: 0 auto;
  --background-color: #f5f5f5;
  --white-color: white;
  --text-color: #4d4d4d;
  --completed-color: #d9d9d9;
  color-scheme: white;
}

body {
  background-color: var(--background-color);
  margin: var(--default-margin);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--text-color);
}

h1 {
  margin: 20px auto 10px auto;
  justify-content: center;
  font-size: 96px;
  font-weight: 350;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
}

main {
  background-color: var(--white-color);
  width: 40%;
  margin: 0 auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  width: 100%;
  border-bottom: var(--default-border);
}

img {
  width: 30px;
  height: 20px;
  padding: 27px 0px 0px 16px;
}

.todo_input {
  border: none;
  height: 65px;
  width: 100%;
  padding: 16px 16px 16px 16px;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 300;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

.todo_input::placeholder {
  color: var(--completed-color);
  font-style: italic;
}

div.todo {
  flex-direction: column;
}

button {
  border: none;
  background-color: var(--white-color);
  cursor: pointer;
  font-size: var(--default-font-size);
  color: var(--text-color);
}

li img {
  cursor: pointer;
  min-width: 30px;
  width: 30px;
  height: 30px;
  padding: 0;
  background: var(--white-color);
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 15px;
}

ul {
  overflow-y: auto;
  max-height: 70vh;
  padding: 0;
  margin: 0;
  border-bottom: var(--default-border);
}

li {
  border-bottom: var(--default-border);
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  min-height: 60px;
  position: relative;
}

.active-li {
  color: var(--text-color);
  text-decoration: none;
}

.complete-li span{
  text-decoration: line-through;
  color: var(--completed-color);
}

.list-div {
  display: flex;
  align-items: center;
  width: 100%;
}

li:hover {
  background-color: var(--background-color);
}

li span {
  cursor: pointer;
  text-align: left;
  font-size: 24px;
  font-weight: 300;
  max-height: 100px;
  word-wrap: break-word;
  overflow-x: auto;
  width: 60%;
  padding: 15px 0;
}

li button {
  right: 20px;
  display: none;
  color: #cc9a9a;
  font-size: 14px;
  background: none;
}

li:hover button {
  display: block;
  padding: 0 auto;
}

li:hover button:hover {
  color: #af5b5e;
}

.hidden-div {
  min-width: 103.1px;
}

li:hover .hidden-div {
  display: none;
}

.down-panel {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 10px 15px;
  color: #777;
}

.down-panel span {
  text-align: center;
  color: rgb(138, 138, 138);
}

.down-panel-button__row {
  display: flex;
  gap: 10px;
}

.down-panel-button__row button {
  padding: 3px 7px;
  border-radius: 3px;
  color: rgb(138, 138, 138);
  border: 1px transparent solid;
}

.down-panel-button__row button:hover {
  border: 1px solid rgba(175, 47, 47, 0.2);
}

.current-down-panel-button {
  border: 1px solid rgba(175, 47, 47, 0.2) !important;
}

@media (max-width: 830px) {
  .down-panel {
    flex-direction: column;
  }

  .down-panel-button__row {
    flex-direction: column;
  }
}

.clear-completed {
  background: none;
  color: rgb(138, 138, 138)
}

.modal-background {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  background-color: #6969693d;
  top: 0;
  left: 0;
}

.modal-window {
  padding: 20px;
  margin: auto;
  border: var(--default-border);
  background-color: var(--white-color);
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: center;
}

.modal-window textarea {
  border-radius: var(--default-border-radius);
  width: 100%;
  padding: 20px;
}

.background-page-1 {
  background-color: var(--white-color);
  height: 3px;
  width: 39%;
  margin: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.background-page-2 {
  background-color: var(--white-color);
  height: 3px;
  width: 38%;
  margin: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.custom-container {
  display: block;
  position: relative;
  padding: 0;
  margin: 0 15px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 30px;
  width: 30px;
}

.custom-container input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkmark {
  position: absolute;
  padding: 0;
  top: 0;
  height: 30px;
  width: 30px;
  background-color: #eee;
  border-radius: 50%;
}

.custom-container:hover input~.custom-checkmark {
  background-color: #ccc;
}

.custom-container input:checked~.custom-checkmark {
  border: 1px solid green;
}

.custom-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-container input:checked~.custom-checkmark:after {
  display: block;
}

.custom-container .custom-checkmark:after {
  left: 5px;
  top: 11px;
  width: 17px;
  height: 5px;
  border: solid green;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(-50deg) scale(-1, 1);
}
